
.depicter-revert .depicter-72-element-57{
	opacity:0.463;
}
.depicter-72-element-57 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-72-element-62{
	font-size:15px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:300;
	box-shadow:10px 10px 25px 0px #000;
	background-color:#4980F5;
	border-radius:6px;
}
.depicter-revert .depicter-72-element-62-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-72-element-87{
	text-shadow:1px 1px 4px #343434;
	font-size:60px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
	border:none;
}
.depicter-revert .depicter-72-element-85{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:500;
	line-height:160%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-72-section-1 .depicter-section-background{
	background-color:#F3F3F3;
}
.depicter-revert .depicter-72-element-66{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:500;
	line-height:160%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-72-element-65{
	text-shadow:1px 1px 4px #343434;
	font-size:60px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
	border:none;
}
.depicter-revert .depicter-72-section-64 .depicter-section-background{
	background-color:#F3F3F3;
}
.depicter-revert .depicter-72-element-70{
	text-shadow:2px 2px 5px #626262;
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:500;
	line-height:160%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-72-element-69{
	text-shadow:1px 1px 4px #343434;
	font-size:60px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
	border:none;
}
.depicter-revert .depicter-72-section-68 .depicter-section-background{
	background-color:#F3F3F3;
}
.depicter-revert .depicter-72-element-84{
	text-shadow:2px 2px 5px rgba( 0, 0, 0, 0.5 );
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:500;
	line-height:160%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-72-element-83{
	text-shadow:1px 1px 4px #343434;
	font-size:60px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
	border:none;
}
.depicter-revert .depicter-72-section-72 .depicter-section-background{
	background-color:#F3F3F3;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-72-element-62{
	font-size:12px;
	font-weight:100;
}
.depicter-revert .depicter-72-element-87{
	font-size:56px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-85{
	font-size:14px;
	text-align:right;
	color:#CFCBCB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-66{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:200;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-65{
	font-size:54px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-70{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:200;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-69{
	font-size:56px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-84{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Tajawal";
	font-weight:400;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-83{
	font-size:56px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-72-element-62{
	font-weight:100;
}
.depicter-revert .depicter-72-element-87{
	font-size:39px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-85{
	font-size:13px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Tajawal";
	font-weight:200;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-66{
	font-size:13px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-65{
	font-size:39px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-70{
	font-size:13px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-69{
	font-size:39px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-72-element-84{
	font-size:13px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:160%;
	letter-spacing:0px;
}
.depicter-revert .depicter-72-element-83{
	font-size:39px;
	text-align:center;
	color:#EBEBEB;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	letter-spacing:-2px;
}

}
