
.depicter-revert .depicter-94-element-57{
	opacity:0.463;
}
.depicter-94-element-57 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-94-section-1 .depicter-section-background{
	background-color:#F3F3F3;
}

