
.depicter-revert .depicter-95-element-57{
	opacity:0.463;
}
.depicter-95-element-57 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-95-section-1 .depicter-section-background{
	background-color:#F3F3F3;
}

